/*現状、入出庫ラジオボタン専用*/
span {
    display: inline-block;
    text-align: right;
}

.receivedBarcode,
.nowDate,
.amount {
    font-size: medium;
    padding: 0.5em;
    background-color: #f0f0f0;
    width: max-content;
    border: #ffffff 5px solid;
    border-radius: 10px;
}

.scanner {
    width: 200px;
    color: #0000af;
    border-radius: 5px;
}

.molding {
    padding: 1em;
}


.insertButton {
    position:relative;
    top: 10px;
    width: 110px;
    height: 50px;
    margin-left: 60%;

}